/* Google fonts */
@import url('https://fonts.googleapis.com/css?family=Oswald|Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css2?family=Marhey&display=swap');
/*
font-family: 'Oswald', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Marhey', sans-serif;
*/
/* CSS variables */
:root {
  --h1-font-family: 'Marhey', sans-serif;
  --h2-font-family: 'Source Sans Pro', sans-serif;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

html, body {
  margin: 0;
  background: #eee;
}

h1 {
  font-family: var(--h1-font-family);
}

h2, h3 {
  font-family: var(--h2-font-family);
}

ul {
  padding: 0px 15px;;
}

* {
  box-sizing: border-box;
}

#wrapper {
  width: 90%;
  margin: auto;
  background: #fff;
  max-height: 100%;
  padding: 0 1px;
}

img {
  max-width: 100%;
 }

header {
  width: 100%;
  height: 150px;
  background: #444;
  padding: 20px;
  position: relative;
}

header h1, header h2 {
  display: inline-block;
  background: #589;
  position: absolute;

}

header h1 {
  padding: 50px 10px 20px 10px; 
  top: -20px;
  transform: rotate(-12deg) translate(-5px, -30px); /* remove later */
}

header h2 {
  padding: 10px 50px 10px 10px; 
  bottom: 0px;
  right: 0px;
}

main {
  padding: 15px;
}

/* Product Lead info */
.product-lead {
  margin-top: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.product-lead h2 {
  margin-top: 0;
}

.product-lead aside h2 {
  color: #999;
}

.section-pic {
  flex: 1 0 250px;
}

.section-content {
  flex: 4 1;
  padding-left: 20px;
  padding-right: 20px;
  border-right: 1px dotted #666;
}

.product-lead aside {
  flex: 1 1 15%;
  padding: 0 20px;
  
}

.product-lead-features {
  padding: 10px;
    background: #eee;
  border: 1px #999 solid;
  border-radius: 5px;
  color: #777;
}

footer {
  background: #666;
  padding: 10px;
  text-align: center;
  color: #fff;
}

/* product details start */
.product-details h2, h3 {
  color: #666;
}

.product-details section {
  margin: 5px;
  flex: 1 0 20%;
}

.product-details h3 {
  text-align: center;
  border: 1px dashed #999;
  border-width: 1px 0;
  text-transform: uppercase;
}

/* flexing stuff */
.product-details-container {
  display: flex;
  flex-flow: row wrap;
}

.product-details-container section {
  flex: 1 1 20%;
}

/* product-details end*/

/* product-features start*/
.img-float {
  float: left;
  margin-right: 20px;
}

.product-features p img {
  margin-right: 25px;
  border: 1px solid #999;
}


/* product-features ends*/
/* Footer */
footer {
  margin-top: 25px;
}

footer a {
  text-decoration: none;
  color: #ccc;
}
/* Media Query work pending */

@media (max-width: 900px) {
  .product-lead {
    display: block;
  }
}

@media (max-width: 600px) {
  .product-details-container  {
    display: block;
  }
}